<div id="survey">
  <div id="container-questionnaire">

  <h1>Please answer the following</h1>

  <hr>

  <div id="surveydiv" class="instructions well">
  </div>

  <hr>

    <div class="surveynav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="survey-submit" class="btn btn-primary btn-lg continue" onclick="submitSurvey(1);">
                <span class="glyphicon glyphicon-ok"></span> Submit 
                </button>
            </div>
        </div>
    </div>

</div>
</div>